<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                        <select class="selectpicker" [(ngModel)]="selectedLocation" (ngModelChange)="changeLocation($event)" placeholder="Location" style="width:200px;background:none;border:none;border-bottom: 2px blue solid;text-color:black;" data-style="btn btn-link" id="type">
                                <option >Dadar</option>
                                <option >Andheri</option>
                                <option>Parel</option>
                        </select>
                        <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title ">Farmer Quotations</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <th>Farmer Name</th>
                                                <th>Contact</th>
                                                <th>Location</th>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th></th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                    <tr  class="list" *ngFor="let q of quotes[0]" >
                                                            <td >{{q.name}}</td>
                                                            <td >{{q.contact}}</td>
                                                            <td >{{q.location}}</td>
                                                            <td >{{q.fish_name}}</td>
                                                            <td >{{q.quantity}}</td>
                                                            <td >{{q.price}}</td>
                                                            <td >
                                                                   <input matInput [id]=q.fm_id placeholder="Quantity required" type="number">
                                                            </td>
                                                            <td >
                                                                    <button mat-raised-button type="submit" (click)="Buy(q.user_id,q.product_id,q.fish_id,q.price,q.fm_id)" class="btn btn-danger pull-right">Buy</button>
                                                            </td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           
                </div>
            </div>
        </div>
</div>
      
      