<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <select class="selectpicker" [(ngModel)]="selectedLocation" (ngModelChange)="changeLocation($event)" data-style="btn btn-link" id="type">
                    <option >Dadar</option>
                    <option >Andheri</option>
                    <option>Parel</option>
                  </select>
                    <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">Vendor Quotations</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>Vendor Name</th>
                                            <th>Contact</th>
                                            <th>Location</th>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th></th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                                <tr  class="list" *ngFor="let q of quotes" >
                                                        <td >{{q.name}}</td>
                                                        <td >{{q.contact}}</td>
                                                        <td >{{q.location}}</td>
                                                        <td >{{q.product_name}}</td>
                                                        <td >{{q.quantity}}</td>
                                                        <td >{{q.price}}</td>
                                                        <td >
                                                               <input matInput id=q.user_id+q.product_id placeholder="Quantity required" type="number">
                                                        </td>
                                                        <td >
                                                                <button mat-raised-button type="submit" (click)="Buy(q.user_id,q.product_id,q.price)" class="btn btn-danger pull-right">Buy</button>
                                                        </td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                       
            </div>
        </div>
    </div>
</div>
  
  