<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">edit</i>
                      </div>
                      <p class="card-category">Fishing</p>
                      <h3 class="card-title"><a style="color:black;" routerLink="/farmer-details">Fill Details</a></h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">play_arrow</i>
                      </div>
                      <p class="card-category">view</p>
                      <h3 class="card-title"><a style="color:black;" routerLink="/farmer-videos">Videos</a></h3>
                  </div>
              </div>
          </div>
      </div>

          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-warning card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">shopping_cart</i>
                          </div>
                          <p class="card-category">view</p>
                          <h3 class="card-title"><a style="color:black;" routerLink="/farmer-orders">Order Details</a></h3>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-warning card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">person</i>
                          </div>
                          <p class="card-category">view</p>
                          <h3 class="card-title"><a style="color:black;" routerLink="/farmer-view-buyers">Buyers</a></h3>
                      </div>
                  </div>
              </div>
          </div>

    </div>
  </div>
